*

!.gitignore

!/install_dependency.sh

!/resolver

!/resolver-control

!/resolver/**

!/resolver-control/**

!build.gradle.kts

!/src

!/src/**

!/gradle

!/gradle/**

!settings.gradle.kts

!gradlew

!gradlew.bat